@font-face {
    font-family: 'Olima';
    src: url('Olima.woff2') format('woff2'),
        url('Olima.woff') format('woff'),
        url('Olima.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Olima';
    background-color: #f0d0ff;
    color: #ff0000;
    margin-left: 40px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

a {
	font-size: 24px;
}

p {
	font-size: 24px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }