@font-face {
    font-family: 'Olima';
    src: url('Olima.woff2') format('woff2'),
        url('Olima.woff') format('woff')
        url('Oliima.ttf') format('ttf'),;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body {
    background-color: #c060ff;
    color: #ff0000;
}