@font-face {
    font-family: 'Olima';
    src: url('Olima.woff2') format('woff2'),
        url('Olima.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body {
    background-color: #ff00d4;
}